body {
    background-color: #FFF;
    font-family: Arial;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #00138E;

}
.form-control {
    margin-bottom: 10px;
}
.dropdown-menu {
    transform: translate(431px, 50px);
    width: -webkit-fill-available;
    height: 250px;
    overflow-y: scroll;
}
.dropdown-item {
    text-align: right;
}
.dropdown-toggle::after {
    margin-right: 10px;
}
.btn-primary {

    background-color: white;
    color: #2e388d;
    border-color: #2e388d;
    box-shadow: 0px 0px;
    width: 309px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2e388d;
    border-color: #2e388d;
}

.btn-primary:active {
    color: #fff;
    background-color: #2e388d;
    border-color: #2e388d;
}
.btn-primary:focus {
    color: #fff;
    background-color: #2e388d;
    border-color: #2e388d;
    box-shadow: 0 0 0 0.25rem rgb(46 56 141 / 30%);
}

.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2e388d;
    border-color: #2e388d;
    box-shadow: 0px 0px;
}
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(46 56 141 / 30%);
}
.dropdown-toggle::after {
    margin-right: 10px;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2e388d;
}
.lightGreyBorder {
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(112, 112, 112, 0.51);

}

.blueBorder {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #2e388d;
}

.btn {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.secretariatInfoModal {
    width: 64%;
    left: calc(20%);
}