
.sv-root-modern .sv-container-modern__title {
    color: #00138E !important;

}
.sv-root-modern .sv-progress__bar {
    background-color: #00138E !important;
}

.sv-root-modern .sv-btn--navigation {
    background-color: #00138E !important;
}
.sv-root-modern ::-webkit-scrollbar-thumb {
    background-color: #00138E !important;
}

.sv-title sv-question__title sv-question__title--answer {
    background-color: #00138E !important;
}


.sv-root-modern .sv-question__title.sv-question__title--answer {
    background-color: #00138E20;
}

.sv-root-modern .sv-rating__item--selected .sv-rating__item-text {
    background-color: #00138E !important;;
    border-color: #00138E !important;;
}

.sv-root-modern .sv-rating input:focus + .sv-rating__min-text + .sv-rating__item-text, .sv-rating input:focus + .sv-rating__item-text {
    outline-color: #00138E;
}

.sv-rating input:focus + .sv-rating__item-text {
    outline: 1px solid #00138E !important;
    outline-offset: 2px;
}


.sv-question__num{
    color:white;
}
.sv-question__title{
    float: right;
    display: block;
}
.sv-question__num{
    float: right;
    color:white;
}
.sv-footer__complete-btn{
    float: left;
}
.sv-rating__max-text{
    padding: 15px;
}
.sv-rating__min-text{
    padding: 15px;
}
.sv-question{
    direction: rtl;
}
.sv-question__header{
    display: flex;
}






